<ion-view  view-title="Add to listu">
  <ion-content ng-controller="QueueController">
    <div class="padding">
      <button class="button button-block button-balance" ng-click="add()">Add to queue</button>
    </div>
    <ion-list>
      <ion-item href="#/edit/{{person.$id}}" ng-repeat="person in queue" class="item-icon-right item-remove-animate">
        <h2>{{person.name}}</h2>
        <p><span am-time-ago="person.updatedTime"></span>: {{person.status}}</p>

        <i class="ion-chevron-right icon"></i>
        <ion-option-button class="button-assertive ion-ios-trash icon-left" ng-click="delete(person)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
